<h1 id="hotlinks">Pikalinkit yöelämään</h1>
<div class="list">
  <ul class="elements">
    <%= render :partial => 'hot_links/hot_link', :collection => @hot_links %>
  </ul>
  <div class="add_form"></div>
  <div class="list-controls"> <%= link_to 'Lisää linkki', new_hot_link_path, :class => 'add'%> </div>
</div>
